
_HANDSON/pc2/_CONTESTDATA/Passwords.docx
_HANDSON/pc2/admin_pc2-9.6.0/bin/*/
_HANDSON/pc2/judge_pc2-9.6.0/bin/*/
_HANDSON/pc2/team_pc2-9.6.0/bin/*/
*.log
_HANDSON/pc2/admin_pc2-9.6.0/bin/logs/*
_HANDSON/pc2/admin_pc2-9.6.0/bin/executesite1judge1/valerr.1.txt
_HANDSON/pc2/admin_pc2-9.6.0/bin/executesite1judge1/valerr.0.txt
